:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: .5rem 0;
}

h1 input{
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  background: transparent;
  border: none;
  color: inherit;
  width: 100%;
}

.routines-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
}

.routine{
  width: 100%;
  display: flex;
  gap: 1rem;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.exercise-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  margin-top: .5rem;
}

.exercise-card{
  font-size: .75em;
  border-radius: 4px;
  padding: .5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #1e1e1e;
}

.exercise-card p{
  margin-bottom: .25rem;
}

.exercise-card-header{
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: space-between
}

.exercise-card-config{
  margin-top: .5rem;
  display: flex;
  gap: 1rem;
}

.exercise-card-controls{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.exercise-sets{
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.sets{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
}

.set, .sets-header{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.sets-header > *{
  font-weight: 600;
  text-transform: uppercase;
}

.sets-footer{
  display: flex;
  justify-content: center;
}

.set-type{
  width: 35px;
}

.set-unitValue{
  width: 60px;
}

.set-unitValue input{
  width: 100%;
}

.set-repsValue, .set-timeValue{
  width: 80px;
}
