:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.routines-list{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;
}

.routine{
  width: 100%;
  display: flex;
  gap: 1rem;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: .5rem;
}
